.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 15px;
  margin: 10px;
}

/* Flexbox definitions */

.Container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Body {
  flex-direction: column;  
  display: flex;
  flex: 0;
}

/* leftMenu flexbox */  
.leftSide {
  display: flex;
  width: 25%;
  flex-direction: column;
  margin-top: 10px;
  overflow: hidden;
}

.topLeft {
  background-color: #222;
  /* padding: 20px; */
  color: white;
  /* background: rgb(240, 240, 240); */
  width: 100%;
  height: 20%;
  flex: 0 0 12em;
  order: -1;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: middle;
  justify-content: center;
}
  .leftMenu {
    /* background: #D8D8D8; */
    width: 100%;
    /* height: 60%; */
    flex: 0 0 12em;
    order: -1;
    display: flex;
    flex-direction: column;
    align-items: middle;
    justify-content: center;
  }

  .footer {
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
    font-size: .8em;
    color: #9966ff;
    background: #FAFAFA;
    padding-top: 13px;
    width: 100%;
    margin-top: -10px;
}

.mainContent {
  /* order: 1; */
}

/* Should this be here or in App.css? */
.Content {
  background: #FAFAFA;
  width: 100%;
  height: 100%;
  /* flex: 1; */
  /* order: 1; */
}


/* End Flex Layout definitions */

.erik-avatar {
  animation: App-logo-spin infinite 20s linear;
  height: 125px;
  width: 125px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
}

.name {
  font-size: 2.5em;
  text-transform: uppercase;
}

.under-name-info {
  font-size: .7em;
  padding: 0%;
}

.under-name-info a {
  color: white;
}

.under-name-info a:hover {
  color: #9966ff;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
  text-decoration: none;
  color: rgb(31, 31, 31);
}

a:visited {
  /* color: #4A4A4A; */
  text-decoration: none;
}

a:hover {
  /* Websafe and bright */
  color: #9966ff;

}

a:active {
  color: #FAFAFA;
}
